.navbar {
    background-color: rgb(66, 179, 245) !important;
    border: none !important;
    border-width: 0 !important;
}

.nav-text {
    color: black;
    font-weight: bold;
}

title {
    display: none;
}

.btn-primary {
    background-color: rgb(66, 179, 245);
    color: black;
    border: none;
}

.cancel {
    border: none;
}

.form-group {
    font-weight: bold;
}

.form-control {
    color: black;
    border-color: black;
}