{% extends 'base.html' %}


{% block header %}
<title>Add Creator</title>
{% endblock %}

{% block body %}

<div>
    <h1>Add Creator</h1>
    <div>
        <form method="post" aurocomplete="off" action="/" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        {{ form.first_name.label }}
                        {{ form.first_name(class_="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>


            <div class="row">
                <div class="col-3"></div>
            </div>
            <p> </p>
            <p>{{ form.family_name_prep.label }} {{ form.family_name_prep() }}</p>
            <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>

</div>




{% endblock %}