{% extends 'base.html' %}


{% block header %}
<title>Add Creator</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center mb-3">
        <h1>Add Creator</h1>
    </div>
    <div>
        <form method="post" aurocomplete="off" action="/" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        {{ form.first_name.label }}
                        {{ form.first_name(class_="form-control") }}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        {{ form.family_name_prep.label }}
                        {{ form.family_name_prep(class_="form-control") }}
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        {{ form.last_name.label }}
                        {{ form.last_name(class_="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mt-3">
                    <div class="form-group">
                        <label for="formFile" class="form-label">Upload photo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 mt-3">
                    {{ form.submit(class_="btn btn-primary submit")}}
                    <button type="button" class="btn btn-secondary cancel" id="cancel-creator">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}